*{
    margin: 0%;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*box 1 */
.logo{
    height: 50px;
    width: 128.73px;
    background-image: url(Amazon-Logo-White.png);
    background-size: cover;
    margin-right: 0px;
}
.border:hover{
    border: 1px,solid,white;
}
/* box 2 */
.location{
    font-size: 1rem;
    color: #CCCCCC;
}
.a{
    text-transform:capitalize ;
    font-size: 0.75rem;
    color: #CCCCCC;
    margin-left:12px;
}
.icon{
    display: flex;
}
.b{
    font-size: 0.9rem;
    text-transform:uppercase;
    color: #ffffff;
    margin-left: 2px;
}
/* box 3 */
.search{
    display: flex;
    justify-content:space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 6px;
}
select{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    text-align: center;
    background-color: #f3f3f3;
    border: none;
}
input{
    border: none;
    width: 100%;
    font-size: 1rem;
}
.icon-s{
width: 50px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
background-color: orange;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
}
.around:hover{
    border: 2px,solid,orange;
}

/* box4 */
.hello{
    font-size: 0.75rem;
    color:white ;
    text-transform:capitalize ;

}

/* box5 */
.acc{
font-size: 1rem;
color:white ;
text-transform:capitalize ;
}

/* box 6 */
.icon-c{
    font-size: 2rem;
    display: flex;
align-items: end;
}

/* menu */
.panelbar{
    height: 28px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.menu{
    color: #ffffff;
}
a{
    color: #ffffff;
    text-decoration: none;
}

/* back */


/* content */
.content{
    background-color: #e2e7e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{
    border: none;
    height: 375px;
    width: 23%;
    margin-top: 10px;
    background-color: white;
    padding: 20px 0px 15px;
}
.items{
    font-size: 21px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.itemimage{
    height: 250px;
    width: 250px;
    margin-top: 10px;
}
.see{
    font-size: 13px;
    color: #007185;
padding-top: 30px;
}

/* footer */
.footpanel1{
    height: 50px;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: white;

}
.footpanel2{
    color: white;
    height: 300px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;

}
ul p{
    margin-top: 40px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    color: #dddddd;
    margin-top: 10px;
}
.footpanel3{
    background-color: #222f3d;
    height: 70px;
    color: white;
    border-top: 0.1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footpanel4{
    height: 100px;
    background-color: #131a22;
    color: #dddddd;
    text-align: center;
}
.pages{
    padding-top: 30px;
}